<section class="container-fluid">
    <div class="row">
        <div class="col">
            <H2>{{title}}</H2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <img [src]="'assets/images/'+sourceImg" alt="Page de Code" class="img-fluid" (click)="changeImage()">
        </div>
        <div class="col-12 col-md-6">
            <div [ngSwitch]="2">
                <p *ngSwitchCase="1">C'est 1 le CASE</p>
                <p *ngSwitchCase="2">C'est 2 le CASE</p>
                <p *ngSwitchCase="3">C'est 3 le CASE</p>
            </div>
            <ol>
                <li *ngFor="let img of jsonImg">
                    <img width="50" [src]="'assets/images/'+img.url" [alt]="img.alt">
                    {{img.url}}
                </li>
            </ol>
            <p *ngIf="2>1; else otherParag">CECI EST AFFICHÉ SOUS CONDITION</p>
            <ng-template #otherParag><p>MON AUTRE PARAGRAPHE</p></ng-template>
            <p [ngStyle]="{'display':myProp,'color':'red'}" (click)="myProp='none'">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quod quibusdam rerum quas facilis perferendis, deserunt veritatis iure eum eius officia sapiente distinctio praesentium error neque esse accusantium?</p>
            <p [ngClass]="{'text-primary':myValue}" (click)="myValue=!myValue">Earum, quam voluptatem amet ipsa quos laudantium. Illo fugiat tenetur, expedita alias nihil quis ratione illum saepe, magnam libero, corrupti vero quidem numquam officia quos accusamus inventore sapiente eveniet?</p>
        </div>
    </div>
</section>
<!-- container-fluid en bootstrap extensible s'adapte à la taille -->