<section class="container-fluid">
    <div class="row">
        <div class="col">
            <H2>HOME</H2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg" alt="Page de Code" class="img-fluid">
        </div>
        <div class="col-12 col-md-6">
            <H2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quod quibusdam rerum quas facilis perferendis, deserunt veritatis iure eum eius officia sapiente distinctio praesentium error neque esse accusantium? Earum, quam voluptatem amet ipsa quos laudantium. Illo fugiat tenetur, expedita alias nihil quis ratione illum saepe, magnam libero, corrupti vero quidem numquam officia quos accusamus inventore sapiente eveniet? Quidem impedit est eaque aspernatur nobis unde eius deserunt ad molestiae. Natus nemo saepe suscipit architecto quas, repellendus minus eveniet facere porro quia, fugit eius doloribus earum ratione similique, sit ullam aspernatur! Possimus voluptatem esse alias, voluptate eius hic eum minus nobis ipsum. Quasi reiciendis adipisci et itaque cupiditate velit? Tenetur impedit qui ipsa recusandae tempora debitis velit nihil eos dolores amet rerum, veniam beatae possimus vero aut?</H2>
        </div>
    </div>
</section>
<!-- container-fluid en bootstrap extensible s'adapte à la taille -->